<!doctype html>
<html>
  <head lang="en">
    {% block title %}<title>{{ home_title }}</title>{% endblock %}
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 -->

 {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'scripts/base.js' %}" defer></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
        {% block sidebar %}
          <ul class="sidebar-nav">
            {% block hom_e %}
            <li><a href="{% url 'index' %}">Home</a></li>
            {% endblock %}
            {% block blo_g %}
            <li><a href="{% url 'blogs' %}">All blogs</a></li>
            {% endblock %}
            {% block bl<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UK punk bands</title>
  <!-- CSS_ADSBLOCK_START -->
<link rel="stylesheet" href="https://adblockers.opera-mini.net/css_block/aaa/domainless-unknown.css" type="text/css" />
<link rel="stylesheet" href="https://adblockers.opera-mini.net/css_block/aaa/page_2_5278fvmaalwezlbl5johgdgchza16tdnclfwjtueiz3zrng61y.css" type="text/css" />
<link rel="stylesheet" href="https://adblockers.opera-mini.net/css_block/aaa/domainless.css" type="text/css" />
<!-- CSS_ADSBLOCK_END -->
</head>
  <body>
    <table>
      <caption>A summary of the UK's most famous punk bands</caption>
      <thead>
        <tr>
          <th scope="col">Band</th>
          <th scope="col">Year formed</th>
          <th scope="col">No. of Albums</th>
          <th scope="col">Most famous song</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Buzzcocks</th>
          <td>1976</td>
          <td>9</td>
          <td>Ever fallen in love (with someone you shouldn't've)</td>
        </tr>
        <tr>
          <th scope="row">The Clash</th>
          <td>1976</td>
          <td>6</td>
          <td>London Calling</td>
        </tr>
        <tr>
          <th scope="row">The Damned</th>
          <td>1976</td>
          <td>10</td>
          <td>Smash it up</td>
        </tr>
        <tr>
          <th scope="row">Sex Pistols</th>
          <td>1975</td>
          <td>1</td>
          <td>Anarchy in the UK</td>
        </tr>
        <tr>
          <th scope="row">Sham 69</th>
          <td>1976</td>
          <td>13</td>
          <td>If The Kids Are United</td>
        </tr>
        <tr>
          <th scope="row">Siouxsie and the Banshees</th>
          <td>1976</td>
          <td>11</td>
          <td>Hong Kong Garden</td>
        </tr>
        <tr>
          <th scope="row">Stiff Little Fingers</th>
          <td>1977</td>
          <td>10</td>
          <td>Suspect Device</td>
        </tr>
        <tr>
          <th scope="row">The Stranglers</th>
          <td>1974</td>
          <td>17</td>
          <td>No More Heroes</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row" colspan="2">Total albums</th>
          <td colspan="2">77</td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>og_r %}
            <li><a href="{% url 'bloggers' %}">All bloggers</a></li>
            {% endblock %}
            <br>
            {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}{% if perms.blog.can_post_blog %}<button class="stat">b</button>{% endif %}</li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
          </ul>
        {% endblock %}
        </div>
        <div class="col-sm-10 ">
        {% block content %}{% endblock %}

        {% block pagination %}
          {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
              <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>

