/* Color scheme:
 sh = shadow
 li = light
 dk = dark
 #12232E     #EEFBFB       #007CC7         #203647        #4DA8DA
dk blue   sh of li blue   lighter blue   sh of dk blue  lightest blue
*/
html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  background-color: #12232e;
  color: #eefbfb;
}

a{
  color: #007cc7;
  text-decoration: none;
}

a:visited{
  color: #4da8da;
}

a:hover, a:active, a:focus{
  color: #1123ff;
  outline: none;
  background: none;
}

header h1{
  font-variant: small-caps;
}
